.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 3rem;
}

.sections {
	display: flex;
}

.available {
	background-color: #f0f0f0;
	height: 1rem;
	width: 1rem;
	border-radius: 100%;
	margin-right: 0.5rem;
}

.selected {
	background-color: #cd4a3e;
	height: 1rem;
	width: 1rem;
	border-radius: 100%;
	margin-right: 0.5rem;
}

.occupied {
	background-color: #505050;
	height: 1rem;
	width: 1rem;
	border-radius: 100%;
	margin-right: 0.5rem;
}

@media (prefers-color-scheme: light) {
	.available {
		background-color: #bababa;
	}
	.occupied {
		background-color: #1a1a24;
	}

	.selected {
		background-color: #db3d2e;
	}

	.text {
		color: #1a1a24;
	}
}
