.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.contentBox {
	height: 50rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid #f0f0f0;
	padding: 1rem;
	color: #f0f0f0;
	gap: 20px;
	border-radius: 3rem;
}

.movieBox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.seats {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contentContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 2rem;
}

.textContainer {
	display: none;
	padding: 0 1rem;
	max-width: 400px;
}

@media (prefers-color-scheme: light) {
	.contentBox {
		border: 2px solid #1a1a24;
		color: #1a1a24;
	}
}

@media only screen and (min-width: 1010px) {
	.contentBox {
		width: 80rem;
		max-width: 70rem;
		height: 50rem;
		padding: 2rem;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.movieBox {
		justify-content: space-between;
	}

	.seats {
		justify-content: start;
		align-items: flex-start;
	}

	.contentContainer {
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 3rem;
		height: 25rem;
	}

	.textContainer {
		display: block;
		flex: 1 1 auto;
		font-size: 0.8rem;
		line-height: 1.4;
		max-width: none;
		width: 1000%;
		overflow-wrap: break-word;
	}
}
