.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.contentBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid #f0f0f0;
	padding: 2rem;
	color: #f0f0f0;
	gap: 20px;
	border-radius: 3rem;
}

.movieBox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.seats {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (prefers-color-scheme: light) {
	.contentBox {
		border: 2px solid #1a1a24;
		color: #1a1a24;
	}
}
