/* SeatMap.module.css */

.seatContainer {
	display: grid;
	grid-template-columns: repeat(10, 30px);
	gap: 5px;
}

.seat {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 12px;
	border-radius: 3px;
	cursor: pointer;
	margin: 2px;
}

.available {
	background-color: #f0f0f0;
	border: none;
}

.occupied {
	background-color: #505050;
	cursor: not-allowed;
	border: none;
}

.selected {
	background-color: #cd4a3e;
}
