.textContainer {
	display: none;
	flex-direction: column;
	justify-content: center;
	font-size: 1.2rem;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.textContainer span {
	margin-bottom: 0.5rem;
}

@media (min-width: 1010px) {
	.textContainer {
		display: flex;
	}
}
